<!DOCTYPE html>
<html>
<head>
<title>Email Analyzer</title>
    <link rel = "stylesheet" href = "style.css">
</head>
<body>
<div class="container">
<h2>Enter Email(s)</h2>
<textarea id="emailInput" rows="4" placeholder="Enter emails line by line"></textarea>
<br>
<button onclick="analyzeEmails()">Analyze</button>

<p id="summary"></p>

<div id="tableContainer">
<table>
<thead>
<tr>
<th>Email</th>
<th>Domain</th>
<th>Domain Type</th>
<th>Person</th>
<th>University</th>
<th>Company</th>
</tr>
</thead>
<tbody id="resultTable"></tbody>
</table>
<br>
<button onclick="downloadExcel()">Download Excel</button>
</div>
</div>

<script>
function analyzeEmails(){
    let emails = document.getElementById("emailInput").value;

    fetch("/analyze",{
        method:"POST",
        headers:{"Content-Type":"application/json"},
        body:JSON.stringify({emails:emails})
    })
    .then(res=>res.json())
    .then(response=>{
        let data = response.data;
        let table = document.getElementById("resultTable");
        let container = document.getElementById("tableContainer");
        let summary = document.getElementById("summary");

        table.innerHTML="";
        data.forEach(item=>{
            let row = `
            <tr>
            <td>${item.email}</td>
            <td>${item.domain}</td>
            <td>${item.domain_type}</td>
            <td>${item.person}</td>
            <td>${item.university}</td>
            <td>${item.company}</td>
            </tr>`;
            table.innerHTML += row;});

        summary.innerHTML = `Total Valid Emails: ${response.total_valid} | Total Invalid Emails: ${response.total_invalid}`;
        container.style.display="block";});}

function downloadExcel(){
    window.location.href = "/download";}
</script>
</body>
</html>
