<!DOCTYPE html>
<html>
<head>
<title>Email Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"> </script>
</head>
<body>
<div class="container">
<h2>Enter Email(s)</h2>
<textarea id="emailInput" rows="4" placeholder="Enter emails line by line"></textarea>
<br>
<button onclick="analyzeEmails()">Analyze</button>

<p id="summary"></p>

<div id="tableContainer">
<table>
<thead>
<tr>
<th>Email</th>
<th>Domain</th>
<th>Domain Type</th>
<th>Person</th>
<th>University</th>
<th>Company</th>
</tr>
</thead>
<tbody id="resultTable"></tbody>
</table>
<br>
<button onclick="downloadExcel()">Download Excel</button>
</div>
</div>
</body>
</html>
